/* Shelly's property. */
a{
    font-weight: bold;
    background: linear-gradient(100deg, khaki, rgb(238, 234, 193));
    background-clip: text;
    -webkit-background-clip: text;
    margin: auto;
    color: aliceblue;
    text-decoration: none;
}
a:active{
    color: aqua;
    text-decoration: underline;
}
a:hover{
    color: transparent;
    font-style: italic;
    transition: 200ms ease;
    text-decoration: underline;
}
nav {
    text-align: center;
    margin: 20px auto;
    padding:15px;
    letter-spacing: 0.2em;
}
nav > a {
    font-size: 18px;
    text-transform: lowercase;
    font-weight: lighter;
    text-shadow: -2px 4px rgba(240, 248, 255, 0.369);
}
nav > a:hover{
    color:deepskyblue;
    font-weight: bold;
}
footer{
    margin: 20px auto;
    padding:20px;
    border: 1px solid rgb(189, 110, 151);
    box-sizing: border-box;
    background-color:rgb(218, 131, 176);
    letter-spacing: 0.1em;
}
p, li{
    font-style: italic;
    word-spacing: 0.3em;
}
h1,h2,h3,h4,h5,h6{
    color: mediumslateblue;
    font-style: italic;
    font-size: 2em;
   }

h1{
    font-size: 35px;
}
body{
    margin: 0 20% 0 20%;
    font-size: 100%;
    line-height: 1;
    background-repeat: no-repeat;
    background-color: black;
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ol {
    counter-reset: my-custom-counter 4;
    list-style: none;
}
ol > li {
    counter-increment: my-custom-counter -1;
}
ol > li::before {
    content: counter(my-custom-counter) '. ';
    color: khaki;
    font-size: 2rem;
    font-weight: bold;
}
ul{
    list-style-type: none;
}
p#super-parameter {
    color: rgb(209, 201, 255);
}
article{
    padding: 10px;
}
div.validator{
    text-align: center;
}
div.snippet p{
    margin-block-end: 1.5px;
}
div.snippet li{
 color: gainsboro;   
 list-style-type: none;
 padding: 0;
 margin: 0;
}
.pink{
    color:hotpink
}
.yellow{
    color:khaki
}
.blue{
    color:deepskyblue
}
.green{
    color:lightgreen
}
.purple{
    color:mediumslateblue
}
.orange{
    color:coral
}
p.drop-caps:first-letter {
    color:rgb(189, 110, 151);
    initial-letter: 1.5;
    text-transform: capitalize;
    font-size: x-large;
}
strong{
    color:mediumslateblue
}